<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.flashfetch.sellerapp">


    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <permission
        android:name="in.flashfetch.sellerapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.flashfetch.sellerapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_144"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name = "android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGsE_LWV_zjCsQD7VMITKKskJy7PHrjJs" />

        <service
            android:name=".Services.IE_GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".Services.IE_InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".Services.IE_RegistrationIntentService"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="in.flashfetch.sellerapp" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".CategoryActivity" />

        <activity android:name=".ForgotPassword" android:parentActivityName=".LoginActivity"/>

        <activity android:name=".PasswordVerification" android:parentActivityName=".ForgotPassword"/>

        <activity android:name=".ChangePassword" android:parentActivityName=".PasswordVerification"/>

        <activity android:name=".QuoteActivity" />

        <!--<activity android:name=".StartActivity" />-->

        <activity android:name=".notif"/>

        <activity android:name=".FeedBackActivity" />

        <activity android:name=".RequestAds" />

        <activity android:name=".MyAccountInfo" />

        <activity android:name=".ShopDetailsActivity" />

        <activity android:name=".Returns"/>

        <activity android:name=".DemoActivity"/>

        <activity android:name=".RewardActivity"/>

        <activity android:name=".ReferAndEarn"/>

    </application>

</manifest>